## Etructuras de datos, programacion estructurada y funciones
- **Autor**: Nallely Quintero   
- **Fecha**: 23-12-24

In [1]:
milista1 = [1,2,3,4,5]
milista1

[1, 2, 3, 4, 5]

In [2]:
milista1[0]

1

In [4]:
milista1[4]

5

In [5]:
milista1[2]

3

In [6]:
milista1[-1]

5

In [7]:
milista1[-2]

4

In [10]:
milista2 = [5,3,2,4,1]
milista2

[5, 3, 2, 4, 1]

In [ ]:
milista2.append(7)
# agregar un elemento

In [14]:
milista2

[5, 3, 2, 4, 1, 7]

In [16]:
milista2.pop(1)
# quitar un elemento, si .pop no tiene numero dentro del parentesis, bota el ultimo elemento
milista2

[5, 2, 4, 1, 7]

In [17]:
milista2.sort()
# ordenamos la funcion
milista2

[1, 2, 4, 5, 7]

In [18]:
milista2.sort(reverse=True)
# ordenar la lista de mayor a menor
milista2

[7, 5, 4, 2, 1]

In [19]:
milista2.index(2)
# esto es para buscar el valor 2, y nos dice que esta en el indice 3

3

In [24]:
# slicing
# milista2[inicio(inclusive):final(no_incluido):paso]
# si el inicio no se especifica por defecto es 0
# si el final no se especifica por defectoe es el ultimo elemento
# si el paso no se especifica por defecto va de 1 en 1

milista2[0:2:1]

[7, 5]

In [25]:
milista2[:2]

[7, 5]

In [26]:
milista2[1:3]

[5, 4]

In [29]:
milista2[3:]

[2, 1]

In [30]:
milista2[:3:2]

[7, 4]

In [31]:
milista2[1::3]

[5, 1]

In [34]:
milista2[1:5:3]

[5, 1]

In [37]:
milista2[:5:3]

[7, 2]

In [39]:
milista2[0::3]

[7, 2]

In [41]:
milista2[::3]

[7, 2]

In [43]:
milista2[::-1]
#invertir una lista

[1, 2, 4, 5, 7]

In [45]:
milista2[:2:-1]

[1, 2]

In [46]:
milista2[:2:-2]

[1]

In [47]:
milista3 = ["pera", "uva", "manzana", "pera", "platano"]
milista3

['pera', 'uva', 'manzana', 'pera', 'platano']

In [48]:
milista3.count("pera")
#contamos cuantas veces se repite el valor pera

2

In [49]:
milista3.count("uva")

1

In [50]:
milista3.count("papaya")

0

In [51]:
milista3[4] = "papaya"
milista3

['pera', 'uva', 'manzana', 'pera', 'papaya']

In [53]:
milista4 = list((3,4,5))
milista4

[3, 4, 5]

In [54]:
midict1 = {"age":22, "name":"Diana"}
midict1

{'age': 22, 'name': 'Diana'}

In [56]:
midict1['age']
#buscamos una llave llamada age

22

In [57]:
midict1['name']

'Diana'

In [58]:
midict1['last_name']

KeyError: 'last_name'

In [60]:
midict1.get("last_name", "no_key")
#el valor de la llave

'no_key'

In [61]:
midict1.keys()
# devuelve una lista

dict_keys(['age', 'name'])

In [62]:
midict1.values()
# trae los valores de las llaves en el orden que fueron creados

dict_values([22, 'Diana'])

In [64]:
midict2 = {"age":22, "name": "Eve", "age":24}
#cuando duplico una llave se queda con el ultimo valor de como fue creada
midict2

{'age': 24, 'name': 'Eve'}

In [65]:
midict2["age"] = 23
midict2

{'age': 23, 'name': 'Eve'}

In [66]:
midict2.items()

dict_items([('age', 23), ('name', 'Eve')])

In [67]:
var1 = 3
str(var1)

'3'

In [68]:
type(var1)

int

In [69]:
var1

3

In [70]:
len(midict1)

2

In [71]:
len(milista2)

5

In [73]:
range(3)
# contiene 0,1,2

range(0, 3)

In [74]:
var2 = range(1,5)
var2

range(1, 5)

In [83]:
lista1 = ["Dayana", "Eve", "Alan"]
lista2 = [22,23,25]
iterable1 = zip(lista1, lista2)
iterable1

In [84]:
iterable2 = list(iterable1)
iterable2

[('Dayana', 22), ('Eve', 23), ('Alan', 25)]

In [85]:
iterable2[0]

('Dayana', 22)

In [86]:
iterable2[0][0]

'Dayana'

In [87]:
print("Hello")
print("Goodbye")
print("Gone")

Hello
Goodbye
Gone

In [89]:
if "uva" in milista3:
    print("la uva esta en la lista")
else:
    print("la uva no esta en la lista")

la uva esta en la lista

In [90]:
if "ciruela" in milista3:
    print("la ciruela esta en la lista")
else:
    print("la ciruela no esta en la lista")

la ciruela no esta en la lista

In [92]:
if 3<2: 
    print("tres es menor que dos")
elif 3==2:
    print("tres es igual a 2")
else:
    print("tres es mayor que 2")

tres es mayor que 2

In [93]:
if 7 in milista2:
    if 4 in milista2:
        print("el 7 y el 4 estan en la lista")
    else:
        print("solo el 7 esta en la lista")
else:
    print('el siete no esta en la lista')

el 7 y el 4 estan en la lista

In [94]:
for i in milista3:
    print(i)

pera
uva
manzana
pera
papaya

In [96]:
for fruta in milista3:
    if fruta !="uva":
        print(fruta)

pera
manzana
pera
papaya

In [1]:
i =5
while i != 0:
    print(i)
    i = i-1

5
4
3
2
1

In [2]:
def funtion1():
    print("Hello World")

In [3]:
funtion1()

Hello World

In [4]:
def funtion2(name):
    print(f"Hello {name}")

In [5]:
funtion2("Peter")

Hello Peter

In [6]:
def square(x):
    return x*x

In [7]:
square(3)

9

El numero pi es numero racioal que aproximadamente equivale a 3.14159..., para cacularlo podemos utilizar la forma de Leibniz que es pi = 4*(1-1/3+1/5-1/7+1/9...) calcularemos este valor usando python

In [8]:
def calculate_pi(iterations):
    mipi = 0
    numerator = 1
    denominator = 1
    for k in range(iterations):
        mipi = mipi + numerator/denominator
        numerator = numerator*-1
        denominator = denominator + 2
    return 4 * mipi

In [15]:
calculate_pi(1000000)

3.1415916535897743